/* Стили для блока с контактами */
.contact__section {
    display: flex;
    justify-content: space-between;

    font-family: 'Lato', sans-serif;
    line-height: 148%;
    color: #181818;
}

@media (max-width: 768px) {
    .contact__section {
        flex-direction: column;
    }
}

.contact__info {
    flex: 1 1 100%;
}

.contact__info--subtitle {
    display: inline-block;
    padding: 1px 15px;
    margin: 0;

    border-radius: 20px;
    background-color: #FFCC4A;

    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.contact__info h2 {
    margin: 6px 0 13px 0;

    font-weight: 700;
    font-size: 45px;
    line-height: 116%;
}

.contact__info--suptext {
    margin: 0;

    color: #595566;
}

.contact__details {
    display: flex;
    flex-direction: column;
    gap: 56px;

    margin-top: 38px;
}

.contact__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact__item img {
    width: 52px;
}

.contact__item div h4 {
    margin: 0 0 3px 0;

    color: #595566;
}

.contact__item div p {
    margin: 0;

    font-size: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
}

/* Стили для формы */
.form__container {
    flex: 2 1 100%;
}

.form__group {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 28px;
}

.form__control {
    flex: 1 1 0;
    max-width: 400px;
    min-width: 200px;
}

.form__control label {
    display: block;
    margin-bottom: 8px;
}

.form__control input,
.form__control textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 22px 33px;
    border: 1px solid #C1C1C1;
    border-radius: 54px;
   
    transition: all 0.3s ease;
}

.form__control textarea {
    border-radius: 22px;
}

.form__control--full{
    max-width: none;
}
 
.form__control input::placeholder,
.form__control textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #A9A9A9;
}

.form__-control input:hover,
.form__control textarea:hover {
    border-color: #95a5a6;
}

.form__control input:focus,
.form__control textarea:focus {
    outline: none;
    border-color: #FFCC4A;
    box-shadow: 0 0 0 3px #d8db3433;
}

.form__control input:active,
.form__control textarea:active {
    border-color: #FFCC4A;
}

.form__control textarea {
    min-height: 120px;
    resize: none;
}

/* Стили для валидации */
.form__control.success input,
.form__control.success textarea {
    border-color: #2ecc71;
}

.form__control.error input,
.form__control.error textarea {
    border-color: #e74c3c;
}

.error__message {
    display: none;
    
    color: #e74c3c;
    font-size: 14px;
}

.form__control.error .error__message {
    display: block;
}

/* Стили для кнопки формы*/
.submit__btn {
    display: block;
    margin: 28px auto 0 0;
    width: 200px;

    background-color: #181818;
    border: none;
    border-radius: 42px;

    padding: 16px 27px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
    cursor: pointer;

    transition: all 0.3s ease;
}

.submit__btn:hover {
    background-color: #FFCC4A;
    color: #181818;

    transform: translateY(-2px);
}

.submit__btn:active {
    background-color: #FFCC4A;
    transform: translateY(0);
}

.submit__btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px #d8db3433;
}


@media (max-width: 800px) {
    .form__group {
        gap: 15px;
        justify-content: center;
        margin-top: 15px;
    }
    
    .form__control {
        flex: 1 1 100%;
    }

    .form__control--full{
        max-width: 400px;
    }
}