.container {
  max-width: 1200px;
  margin: 0 auto;

  font-family: 'Cabin', sans-serif;
}

/* Стили для навигационного меню */
.nav__menu {
  display: flex;
  justify-content: center;
  gap: 40px;

  opacity: 0;
  margin-top: -112px;
  margin-bottom: 50px;
  padding: 31px 44px;

  background-color: #181818;
  border-radius: 30px;
  
  font-family: 'Cabin', sans-serif;

  transition: opacity .3s ease;
  transition: margin .3s ease;
}

@media (min-width: 800px) {
  .nav__menu {
    opacity: 1;
    margin-top: 0;

    transition: opacity .3s ease;
    transition: margin .3s ease;
  }
}

.nav__menu button {
  padding: 0;

  background: none;
  border-bottom: 2px #181818 solid;
  border-top: none;
  border-left: none;
  border-right: none;
  
  color: #fff;
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;

  transition: all 0.3s ease;
}

.nav__menu button:hover {
  color: #FFCC4A;

  transition: all 0.3s ease;
}

.nav__menu button:focus-visible {
  color: #FFCC4A;
  outline: 1px #FFCC4A solid;

  transition: all 0.3s ease;
}

.nav__menu button.active {
  color: #FFCC4A;
  border-bottom: 2px #FFCC4A solid;

  transition: all 0.3s ease;
}


/* Стили для карточек в виде сетки */
.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;

  margin-bottom: 110px;
}

@media (max-width: 800px) {
  .products__grid {
    display: none;
  }
}

.product__card {
  position: relative;

  background-color: #181818;
  border-radius: 20px;
  overflow: hidden;
}



.product__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__card--overlay {
  position: absolute;
  top: -100%;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  padding: 22px 30px 25px 25px;
  box-sizing: border-box;
  background-color: #181818bf;
  backdrop-filter: blur(8px);
  opacity: 0;

  transition: all .3s ease;

  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
}

.product__card:hover .product__card--overlay{
  opacity: 1;
  top: 0;
  transition: all .3s ease;
}

.product__card__button {
  width: 54px;
  height: 54px;
  margin-left: auto;
  padding: 0;

  border-radius: 50%;
  border: none;
  background: #FFE9B1;
  background: linear-gradient(135deg, rgba(255, 233, 177, 1) 0%, rgba(221, 160, 3, 1) 100%);

  color: #181818;
  font-size: 35px;
  line-height: 54px;
  cursor: pointer;
}

.product__card__text h3 {
  margin: 0;
}

.product__card__text p{
  margin: 0;

  font-family: 'Lato';
  line-height: 148%;
  color: #FFCC4A;
}

/* Стили для слайдера на мобильных */
.swiper-container {
  width: 100%;
  height: 100%;
  display: none;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .swiper-container {
    display: block;
  }
}

.swiper-slide {
  overflow: hidden;
}
 
.swiper-button-next:after, .swiper-button-prev:after{
  color: #181818;
}